


.onglet{

background-color: orange;
margin-right:60%;

}

.image{

	height: 100px;
	width: 100px;
	border:solid;
}

.image:hover{

	background-color: white;
	
}



p{

	display: flex;
	align-items: flex-start;

}

.image:hover p{

	transition: 3s;
	transform:translateX(180px);
	display: flex;
	align-content: center;

}