body{

	background-color: gray;
	font-family: "Calibri",sans-serif;
}


.onglet{

background-color: orange;
margin-right:60%;
display: inline-block;

}

.image{

	height: 100px;
	width: 100px;
	border:solid;
}

.image:hover{

	background-color: white;
	
}



p{

	display: none;
	

}

.image:hover p{

	transition: 3s;
	transform:translateX(180px);

	display: flex;
	align-content: center;
	background-color: white;

}